.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
  position: relative;
}
body,
html {
  height: 100%;
  position: relative;
}
main > section {
  height: calc(100vh - 45px);
  padding: 0 5px;
  background-color: #fff;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
.item a {
  display: block;
  display: flex;
}
.item .cover img {
  width: 70px;
}
.item .detail {
  flex: 1;
  padding-left: 10px;
}
.item .detail .score {
  color: #ff5722;
}
.item .detail h2 {
  font-size: 16px;
}
.item .detail .extra {
  color: #999;
  margin-top: 4px;
}
main > section {
  display: none;
}
main > section:first-child {
  display: block;
}
footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: white;
  display: flex;
  border-top: 1px solid #ccc;
}
footer > div {
  flex: 1;
  text-align: center;
  padding: 5px;
}
footer .active {
  color: #ff5722;
}
footer > div > div {
  padding-top: 2px;
}
.loading {
  text-align: center;
  padding-top: 10px;
  display: none;
}
.loading svg {
  display: inline-block;
  animation: 1s rotate linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section .search-area {
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
section .search-area input{
    width: calc(100% - 50px);
    padding: 8px;
    background-color: #eee;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    outline: none;
}
section .search-area button{
    position: absolute;
    right: 0.3rem;
    padding: 7px 10px;
    border: none;
    background-color: #ff5722;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}